.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #f8f8f8;
}

.header h1 {
  margin: 0;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header ul li {
  padding: 7px 12px ;
}

.header li a {
  text-decoration: none;
  color: #333;
}

.header_login {
  background-color: black;
  border-radius: 20px;
}

.header li.header_login a {
  color: white;
}