.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #41644A;
}

.header h1 {
  margin: 0;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header ul li {
  padding: 7px 12px;
}

.header li a {
  text-decoration: none;
  color: #ffffff;
}

.header_login {
  background-color: black;
  border-radius: 20px;
}

.header_logout {
  background-color: black;
  border-radius: 20px;
  color: white;
  height: 22px;
  width: 60px;
}


.header li.header_login a {
  color: white;
}