.users-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.users-container h2 {
    margin-bottom: 10px;
}

.users-container_list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 16px;
    width: 400px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.users-container_list_item button {
    width: 154px;
    border-radius: 8px;
    border: none;
    background-color: rgb(122, 119, 119);
    color: white;
    padding: 5px;
}

.no-users {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.users-container_list-buttons-container {
    display: flex;
    gap: 5px;
    height: 39px;
}

.users-container-add-worker_button {
    width: 154px;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
}

.users-container-add-buttons {
    display: flex;
    gap: 20px;
}

.users-container_list_item_text_div {
    padding: 10px 0px;
}